---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: ft-client-pod-sriov
spec:
  selector:
    matchLabels:
      name: ft-client-pod
  template:
    metadata:
      labels:
        name: ft-client-pod
      annotations:
        v1.multus-cni.io/default-network: default/{{ net_attach_def_name }}
    spec:
      containers:
      - name: ft-client-pod
        image: {{ test_image }}
        command:
          - /sbin/init
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            {{ sriov_resource_name }}: '1'
          limits:
            {{ sriov_resource_name }}: '1'
      nodeSelector:
        ft.ClientPod: sriov
