---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: ft-client-pod-host
  namespace: {{ namespace }}
spec:
  selector:
    matchLabels:
      name: ft-client-pod-host
  template:
    metadata:
      labels:
        name: ft-client-pod-host
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
      - name: ft-client-host
        image: {{ test_image }}
        command:
          - /sbin/init
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
