---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: ft-client-pod
  namespace: {{ namespace }}
spec:
  selector:
    matchLabels:
      name: ft-client-pod
  template:
    metadata:
      labels:
        name: ft-client-pod
    spec:
      containers:
      - name: ft-client-pod
        image: {{ test_image }}
        command:
          - /sbin/init
        imagePullPolicy: IfNotPresent
      nodeSelector:
        ft.ClientPod: client
