---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ft-http-server-pod-index-sriov
  namespace: {{ namespace }}
data:
  index.html: |
    <!doctype html>
    <html>
      <head>
        <title>Server - Pod Backend Reached</title>
      </head>
      <body>
        <p>This is the Server, backed by a pod</p>
      </body>
    </html>
---
apiVersion: v1
kind: Pod
metadata:
  name: ft-http-server-pod-v4
  namespace: {{ namespace }}
  annotations:
    v1.multus-cni.io/default-network: default/{{ net_attach_def_name }}
  labels:
    pod-name: ft-http-server-pod-v4
spec:
  containers:
  - name: ft-http-server-pod-v4
    image: {{ test_image }}
    volumeMounts:
    - name: ft-http-server-index
      mountPath: {{ server_path }}index.html
      subPath: index.html
      readOnly: true
    command:
      - "/agnhost"
    args: ["test-webserver", "--port", "{{ http_clusterip_pod_svc_port }}"]
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        {{ sriov_resource_name }}: '1'
      limits:
        {{ sriov_resource_name }}: '1'
  nodeSelector:
    ft.ServerPod: server
  volumes:
  - name: ft-http-server-index
    configMap:
      defaultMode: 0644
      name: ft-http-server-pod-index-sriov
