apiVersion: v1
kind: Pod
metadata:
  name: ft-iperf-server-host-v4
  labels:
    pod-name: ft-iperf-server-host-v4
spec:
  hostNetwork: true
  containers:
  - name: ft-iperf-server-host-v4
    image: {{ test_image }}
    command:
      - "iperf3"
    args: ["-s", "-p", "{{ iperf_clusterip_host_svc_port }}"]
    imagePullPolicy: IfNotPresent
  nodeSelector:
    ft.ServerPod: server
