---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: {{ net_attach_def_name }}
  namespace: {{ namespace }}
  annotations:
    k8s.v1.cni.cncf.io/resourceName: {{ sriov_resource_name }}
spec:
        config: '{"cniVersion":"0.3.1","name":"{{ net_attach_def_name }}","type":"ovn-k8s-cni-overlay","logFile":"/var/log/ovn-kubernetes/flowtest.log","logLevel":"4","ipam":{},"dns":{}}'

