---
apiVersion: v1
kind: Service
metadata:
  name: ft-http-service-clusterip-host-v4
  labels:
    pod-name: ft-http-service-clusterip-host-v4
spec:
  type: ClusterIP
  ports:
    - name: ft-http-server-clusterip-v4-{{ http_clusterip_host_svc_port }}
      protocol: TCP
      port: {{ http_clusterip_host_svc_port }}
  selector:
    pod-name: ft-http-server-host-v4
---
apiVersion: v1
kind: Service
metadata:
  name: ft-iperf-service-clusterip-host-v4
  labels:
    pod-name: ft-iperf-service-clusterip-host-v4
spec:
  type: ClusterIP
  ports:
    - name: ft-iperf-server-clusterip-v4-{{ iperf_clusterip_host_svc_port }}
      protocol: TCP
      port: {{ iperf_clusterip_host_svc_port }}
  selector:
    pod-name: ft-iperf-server-host-v4