---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: ft-tools
  namespace: {{ namespace }}
  labels:
    app: ft-tools
spec:
  selector:
    matchLabels:
      name: ft-tools
  template:
    metadata:
      labels:
        name: ft-tools
        app: ft-tools
    spec:
      hostNetwork: true
      containers:
      - name: ft-tools
        image: quay.io/wizhao/ft-tools:0.9
        command:
          - /sbin/init
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
          runAsUser: 0
        volumeMounts:
        - mountPath: /host
          name: host
      volumes:
      - hostPath:
          path: /
          type: Directory
        name: host
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: ft.ClientPod
                operator: In
                values:
                - sriov
                - client
